body {
    font-family: "Times New Roman", Georgia, Serif;
}

#start-position {
    padding-left: 10%;
    padding-right: 10%;
}

#fingers-areas {
    padding-left: 10%;
    padding-right: 10%;
}

#input_area {
    resize: none;
    background-color: white;
    font-size: 40px;
}

#sidebar li {
    color: green;
    padding: 5px;
}

#input_form {
    font-size: 35px;
}

#bright_template {
    display: inline;
}

#input_cursor {
    display: inline;
    border-left: 1px solid;
    background-color: black;
    visibility: hidden;
}

#input_template {
    display: inline;
}

h1 {
    margin: 3%;
}